<header>
  <div class="container">
    <h1>The Coffee Czar</h1>

    <p class="lead">Who is too lazy to make the next pot?</p>
  </div>
</header>

<main>
  <div class="container">

    <% if @pictures.empty? || (@pictures.first.created_at < (Time.now.utc - 1.minute)) %>
        <section class="well nocamera">
          <p style="color: red" class="lead">No Active Cameras</p>

          <p>To use the camera on your phone or laptop, point your browser to
            <a href="https://coffeeczar.herokuapp.com/pictures/snap">https://coffeeczar.herokuapp.com/pictures/snap</a>
          </p>
        </section>
    <% end %>

    <section class="well">
      <% if !@pictures.empty? && @pictures.first.created_at < (Time.now.utc - 1.minute) %>
          <h4>Recent Images:</h4>
      <% end %>
      <ul class="list-inline">
        <% if @pictures.empty? %>
            <li class="crop">
              <a class="fancybox" rel="group" href="/pictures/0/raw" alt="Picture"><img id="pic" alt="Picture" src="/pictures/0/raw"/></a>
            </li>
        <% else %>
            <% @pictures.each do |picture| %>
                <li class="crop">
                  <%= raw "<a class=\"fancybox\" rel=\"group\" href=\"/pictures/#{picture.id}/raw\" alt=\"Picture\"><img id=\"pic\" alt=\"Picture\" src=\"/pictures/#{picture.id}/raw\"/></a>" %>
                  <p><%= picture.created_at.localtime.strftime("%H:%M:%S (%Z)") %></p>
                </li>
            <% end %>
        <% end %>
      </ul>
    </section>
  </div>
</main>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({type: "image"});
        setInterval(function () {
            if ($(".fancybox-lock").size() < 1 && window.scrollY < 150) {
                location.reload();
            }
        }, 10000);
    });
</script>