<h1>New Picture</h1>

<%= form_tag({action: :create}, multipart: true) do %>
    <%= file_field_tag 'picture', accept: 'image/gif,image/jpeg' %>
    <%= submit_tag("Upload") %>
<% end %>

<%= link_to 'Back', pictures_path %>
