<header>
  <div class="container">
    <h1>The Coffee Czar</h1>

    <p class="lead">Who is too lazy to make the next pot?</p>
  </div>
</header>

<section>
  <div class="container">
    <section class="well">
      <h1>Camera Activated</h1>

      <p>Warning: as long as you stay on this page, your device will take a picture every 10 seconds and send it to the
        Coffee Czar</p>

      <p style="color: red">You may incur data charges and/or experience significant battery drain</p>
    </section>
  </div>
</section>
<main>
  <div class="container">
    <section class="well">
      <video autoplay>No Video</video>
      <img src="">
      <canvas style="display:none"></canvas>
    </section>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(function () {
        var errorCallback = function (e) {
            console.log('Reeeejected!', e);
        };
        navigator.getUserMedia = navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia ||
                navigator.msGetUserMedia;
        var video = document.querySelector('video');
        var canvas = document.querySelector('canvas');
        var ctx = canvas.getContext('2d');
        var localMediaStream = null;

        function snapshot() {
            if (localMediaStream) {
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                ctx.drawImage(video, 0, 0);
                // "image/webp" works in Chrome.
                // Other browsers will fall back to image/png.

                var dataURL = canvas.toDataURL('image/jpeg');
                document.querySelector('img').src = dataURL;
                $.ajax({
                    type: "POST",
                    url: "/pictures/insert.json",
                    data: {
                        datab64: dataURL
                    }
                }).done(function (o) {
                    console.log('saved');
                    // If you want the file to be visible in the browser
                    // - please modify the callback in javascript. All you
                    // need is to return the url to the file, you just saved
                    // and than put the image in your browser.
                });
            }
        }

        video.addEventListener('click', snapshot, false);

        var videoConfig = {
            video: true
        };

        if (navigator.getUserMedia) {
            navigator.getUserMedia(videoConfig, function (stream) {
                video.src = window.URL.createObjectURL(stream);
                localMediaStream = stream;
            }, errorCallback);
        }

        setInterval(snapshot, 10000);
    });
</script>